{% extends "home.html" %}

{% block leftContainer %}

Native Language:

</br>{{native}}</br></br>

Prefered Languages:
{% endblock %}

{% block languages %}
<form action="changeLang" method="POST">

  {% set n = 1 %}
  
  {% for item in prefs %}
  <select name="plang{{n}}" id="postLang">

    {% set n = n+1 %}
  
    {% for k in optList %}
    {% if item==k[1] %}
    <option value="{{k[1]}}" selected="selected">{{k[1]}}</option>
    {% endif %}
    {% if item!=k[1] %}
    <option value="{{k[1]}}">{{k[1]}}</option>
    {% endif %}
    {% endfor %}
    
  </select>
  
  {% endfor %}

<br><br><input class="btn btn-primary" type="submit" value="Update">
      </form>

 {% endblock %}

{% block rightContainer %}
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#myPost">My Posts</a></li>
  <li><a data-toggle="tab" href="#myComment">My Comments/Edits</a></li>
</ul>
{% endblock %}

{% block panelContent %}
<div class="tab-content">
  <div id="myPost" class="tab-pane fade in active">
    <div class="panel-group">
      {% for post in posts %}
      <div class="panel panel-primary">
	<div class="panel panel-heading">
	  <form id="p{{post[1]}}" action="/viewPost" method="POST">
	    <input type="hidden" value="{{post[1]}}" name="a">
	    <button class="btn btn-link" role="link" type="submit">{{post[2]}}</button>
	  </form>
	  Posted by: <b>you</b> in <i>{{post[4]}}</i>
	</div>
	<div class="panel panel-body">{{post[3]}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <div id="myComment" class="tab-pane fade">
    <!-- Need:
	 title of original post
	 Comment content
	 Something to link to original post
      -->
    <div class="panel-group">
      {% for comment in comments %}
      <div class="panel panel-primary">
	<div class="panel panel-heading">
	  <form id="{{comment[1]}}" action="/viewPost" method="POST">
	    <input type="hidden" value="{{comment[1]}}" name="a">
	    <button class="btn btn-link" role="link" type="submit">{{comment[2]}}</button>
	  </form>
	  Posted by: <b>{{comment[0]}}</b> in <i>{{comment[4]}}</i>
	</div>
	<div class="panel panel-body">
	  {{comment[3]}}
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
