{% extends "base.html" %}

<title>Home</title>

{% block navbar %}
<li><a href="/createPost">Create Post</a></li>
<li><a href="/account">Account</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-4 leftPanel">
      <h3>
	{% block leftContainer %}
	Posts Language
	{% endblock %}
      </h3>
      {% block languages %}
      <form action="/" method="POST">
	{% for item in optList %}
	<div class="radio">
	  <label><input type="radio" value="{{item[1]}}" name="lang">{{item[1]}}</label>
	</div>
	{% endfor %}
	<!--<div class="radio">
	  <label><input type="radio" value="Italian" name="lang">Italian</label>
	</div>
	<div class="radio">
	  <label><input type="radio" value="French" name="lang">French</label>
	</div>
	<div class="radio">
	  <label><input type="radio" value="Russian" name="lang">Russian</label>
	</div>
	<div class="radio">
	  <label><input type="radio" value="Korean" name="lang">Korean</label>
	</div>-->
	<input class="btn btn-primary" type="submit" value="Refresh">
      </form>
	{% endblock %}
    </div>
    <div class="col-xs-8 rightPanel">
      <h3>
	{% block rightContainer %}
	Posts
	{% endblock %}
      </h3>
      {% block panelContent %}
      <div class="panel-group">
	{% for post in posts %}
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <form id={{post[1]}} action="/viewPost" method="POST">
	      <input type="hidden" value="{{post[1]}}" name="a">
	      <button class="btn btn-link" role="link" type="submit">{{post[2]}}</button>
	    </form>
	    Posted by: <b>{{post[0]}}</b> in <i>{{post[4]}}</i>
	  </div>
	  <div class="panel-body">
	    {{post[3]}}
	  </div>
	</div>
	<br><br>
	{% endfor %}
      </div>
      {% endblock %}
      </div>
  </div>
</div>
{% endblock %}

