{% extends "base.html" %}

<title>Login</title>

{% block navbar %}
<li><a href="/register"> Register </a> </li>
{% endblock %}

{% block body %}
<div class="container">

  {% if not message=="" %}
  {% if message=="Account successfully created" %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endif %}
  {% if message=="logged out" %}
  <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endif %}
  {% if (not message=="account successfully created") and (not message=="logged out") %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endif %}
  {% endif %}

  <h1>Login</h1><br><br>
  <form method="POST" action="/login">
    <div class="row">
      <div class="col-md-6">
	Username: <input class="form-control" type="text" name="username" placeholder="Username" required>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-md-6">
	Password: <input class="form-control" type="password" name="pw" placeholder="Password" required>
      </div>
    </div><br><br>
    <input class="btn btn-primary" type="submit" value="Login">
  </form>

</div>
{% endblock %}
