{% extends "base.html" %}

<title>Register</title>

{% block navbar %}
<li><a href="/">Login</a></li>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Register</h1><br><br>
  <form method="POST" action="/createAccount">
    <div class="row">
      <div class="col-md-12">
	Username: <input class="form-control" type="text" name="username" placeholder="Username" required>
      </div>
      <div class="col-md-12">
	Password: <input class="form-control" type="password" name="pw" placeholder="Password" required>
      </div>
      <div class="col-md-12">
	Confirm Password: <input class="form-control" type="password" name="pwc" placeholder="Confirm Password" required>
      </div>
      <div class="col-md-12">
	Prefered Language 1: 
	<select class="form-control" name="plang1" required>
	  {% for item in langs %}
	  <option>{{item[1]}}</option>
	  {% endfor %}
	</select>
      </div>
      <div class="col-md-12">
	Prefered Language 2:
	<select class="form-control" name="plang2">
	  {% for item in langs %}
	  <option>{{item[1]}}</option>
	  {% endfor %}
	</select>
      </div>
      <div class="col-md-12">
	Native Language: 
	<select class="form-control" name="nlang">
	  {% for item in langs %}
	  <option>{{item[1]}}</option>
	  {% endfor %}
	</select>
      </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Register">
  </form>
  {{ message }}
</div>
{% endblock %}
