{% extends "base.html" %}

{% block head %}
<title>Write Post</title>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  google.load("elements", "1", {
  packages: "keyboard"
  });

  var kbd;

  function onLoad(){
  var s = document.getElementById("postLang").value;
  console.log(s);

  kbd = new google.elements.keyboard.Keyboard();
  kbd.setLayout(s);
  }


  google.setOnLoadCallback(onLoad);
</script>
{% endblock %}

{% block navbar %}
<li><a href="/account">Account</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}

{% block body %}
<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h3>Write A Post</h3>
      </div>
      <div class="panel-body">
	<form method="POST" action="/writePost" id="x">
	  Choose your post's language:
	  <select name="postLang" id="postLang" onchange="changeKeyboard()">
	    {% for item in optList %}
	    <option value="{{item[0]}}">{{item[1]}}</option>
	    {% endfor %}
	  </select>
	  <br><br>
	  Title:<input class="form-group" type="text" name="title" required>
	  <br><br>
	  <div class="form-group">
	    <textarea form="x" name="words"></textarea>
	  </div>
	  <input class="btn btn-primary" type="submit" value="Post">
	</form>
      </div>
    </div>
  </div>
</div>


<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
<script type="text/javascript">
  function changeKeyboard() {
  var lang = document.getElementById("postLang").value;
  kbd.setLayout(lang);
  }

</script>

{% endblock %}



/*


/*
  var kbd = new google.elements.keyboard.Keyboard(
  [google.elements.keyboard.LayoutCode.FRENCH],
  ['t1']);
  */

  var kbd = new google.elements.keyboard.Keyboard(
  [google.elements.keyboard.LayoutCode.RUSSIAN],
  ['t1']);
  }
  kbd.setLayout(lang);
  



*/
