{% extends "base.html" %}
<title>Write Post</title>

{% block navbar %}
<li><a href="/account">Account</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}

{% block body %}
<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h3>Write A Post</h3>
      </div>
      <div class="panel-body">
	<form method="POST" action="/writePost" id="x">
	  Choose your post's language:
	  <select name="postLang" id="postLang" onchange="changeKeyboard()">
	    <option value="en">English</option>
	    <option value="it">Italian</option>
	    <option value="ru">Russian</option>
	    <option value="es_es">Spanish</option>
	    <option value="sv">Swedish</option>
	    <option value="fr">French</option>
	  </select>
	  <br><br>
	  Title:<input class="form-group" type="text" name="title" required>
	  <br><br>
	  <div class="form-group">
	    <textarea form="x" name="words"></textarea>
	  </div>
	  <input class="btn btn-primary" type="submit" value="Post">
	</form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  google.load("elements", "1", {
  packages: "keyboard"
  });
  
  function onLoad() {
  var kbd = new google.elements.keyboard.Keyboard(
  [google.elements.keyboard.LayoutCode.ENGLISH],
  ['t1']);
  return kbd;
  }
  
  function changeKeyboard() {
  var lang = document.getElementById("postLang").value;

  var kbd = new google.elements.keyboard.Keyboard();
  
  kbd.setLayout(lang);
  }
  
  
  google.setOnLoadCallback(onLoad);
</script>

{% endblock %}



/*


/*
  var kbd = new google.elements.keyboard.Keyboard(
  [google.elements.keyboard.LayoutCode.FRENCH],
  ['t1']);
  */

  var kbd = new google.elements.keyboard.Keyboard(
  [google.elements.keyboard.LayoutCode.RUSSIAN],
  ['t1']);
  }
  kbd.setLayout(lang);
  



*/
