{% extends "base.html" %}
<title>Write Post</title>

{% block navbar %}
<li><a href="/account">Account</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}

{% block body %}
<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h3>Write A Post</h3>
      </div>
      <div class="panel-body">
	<form method="POST" action="/writePost" id="x">
	  Choose your post's language:
	  <select name="postLang" onchange="changeKeyboard()">
	    <option value="en">English</option>
	    <option value="it">Italian</option>
	    <option value="ru">Russian</option>
	    <option value="es_es">Spanish</option>
	    <option value="sv">Swedish</option>
	    <option value="fr">French</option>
	  </select>
	  <br><br>
	  Title:<input class="form-group" type="text" name="title" required>
	  <br><br>
	  <div class="form-group">
	    <textarea form="x" name="words"></textarea>
	  </div>
	  <input class="btn btn-primary" type="submit" value="Post">
	</form>
      </div>
    </div>
  </div>
</div>

<script>
  var kbd = new google.elements.keyboard.Keyboard(
  [google.elements.keyboard.LayoutCode.RUSSIAN]);

  var changeKeyboard = function(){
  alert("chnage");
  var lang = document.getElementByName("postLang").value;
  kbd = new google.elements.keyboard.Keyboard(
  [google.elements.keyboard.LayoutCode.FRENCH]);
  
  }
</script>
{% endblock %}
